.btn {

	&--green-2 {
		box-sizing: border-box;
		width: 146px;
		height: 37px;
		color: @color-white;
		font-size: @font-size-small;
		border: 2px solid  @color-white;
		border-radius: 18.5px;
		text-decoration: none;
		text-align: center;
		padding: 9px;
	}
}