.btn {
	box-sizing: border-box;

	&--orange-1 {
		display: block;
		width: 181px;
		height: 37px;
		color: @color-white;
		background-color: @color-orange;
		font-size: @font-size-small;
		letter-spacing: @letter-spacing-small;
		text-transform: @text-uppercase;
		border-radius: 18.5px;
		text-decoration: none;
		text-align: center;
		padding: 9px;

		&:hover {
			background-color: @color-btn-active-1;
		}
	}

	&--orange-2 {
		display: inline-block;
		width: 181px;
		height: 37px;
		color: @color-white;
		background-color: @color-orange;
		font-size: @font-size-small;
		letter-spacing: @letter-spacing-small;
		text-transform: @text-uppercase;
		border-radius: 18.5px;
		text-decoration: none;
		text-align: center;
		padding: 9px 9px 9px 30px;
		background-image: url('../img/btn-calendar.png');
		background-repeat: no-repeat;
		background-size: 15px 16px;
		background-position: 20px 8px;

		&:hover {
			background-color: @color-btn-active-1;
		}
	}

	&--green-1 {
		padding: 5px;
		background-color: @color-green;
		outline: none;
		border: none;
		.booking-text-option();
		color: @color-white;
		font-weight: @font-weight-medium;
		cursor: pointer;

		&:hover {
			background-color: @color-btn-active-2;
		}
	}

	&--green-2 {
		display: block;
		margin: 0 auto;
		width: 146px;
		height: 37px;
		color: @color-white;
		font-size: @font-size-small;
		letter-spacing: @letter-spacing-small;
		text-transform: @text-uppercase;
		border: 2px solid  @color-white;
		border-radius: 18.5px;
		text-decoration: none;
		text-align: center;
		padding: 9px;

		&:hover {
			background-color: @color-white;
			color: @color-green;
		}
	}

	&--black {
		width: 84px;
		color: @text-color;
		font-size: @font-size-small;	
		letter-spacing: @letter-spacing-small;
		text-transform: @text-uppercase;
		border-bottom: 1px dashed;
		text-decoration: none;
		text-align: center;
		padding-top: 9px;

		&:hover {
			border: none;
		}
	}
}