.hotels {
	background-color: @color-light-green;

	&__title {
		font-size: @font-size-h2-320;
  	font-family: @font-family-title;
  	font-weight: @font-weight;
  	line-height: @line-height-h2-320;
  	color: @color-white;
  	text-align: center;
	}

	&__item {
		background-color: @color-white;
	}

	&__img {
		display: block;
	}

	&__subtitle {
		font-size: @font-size-h2-320;
  	font-family: @font-family-title;
  	font-weight: @font-weight;
  	text-align: center;
	}

	&__text {
		font-size: @font-size-small;
		font-weight: @font-weight-medium;
		text-align: center;
		display: block;
	}

	&__price {
		font-size: @font-size-accent;
		font-weight: @font-weight-medium;
		color: @color-orange;
	}
}