.location {

	&__title {
		max-width: 157px;
		color: @text-color;
		font-family: @font-family-title;
		font-size: @font-size-h2-320;
		line-height: @line-height-h2;
		font-weight: @font-weight;
		text-align: center;
	}
}