.location {
	padding-bottom: 55px;

	&__inner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__map {
		height: 400px;
		width: 100%;
		margin-bottom: 36px;
	}

	&__title {
		max-width: 157px;
		color: @text-color;
		font-family: @font-family-title;
		font-size: @font-size-h2-320;
		line-height: @line-height-h2-320;
		font-weight: @font-weight;
		letter-spacing: @letter-spacing-h2;
		text-align: center;
		margin-bottom: 30px;
	}
}