.offers {
  padding-top: 43px;
  padding-bottom: 67px;

  &__inner {
    .row();
  }

  &__title {
    color: @color-black;
    text-align: center;
    max-width: 228px;
    .col-xs-12();
    .font-h2-320();

    &--part {
      display: block;
    }
  }

  &__slider {
    background-image: url('../img/offers-bgr-320.jpg');
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: auto 100%;
    padding-top: 157px;
    padding-bottom: 23px;
    margin-top: 33px;
    margin-bottom: 20px;
    border: 1px solid @color-shade-gray-3;
    .col-xs-12();
  }

  &__item {
		background-color: rgba(255, 255, 255, 0.95);
		width: 296px;
    padding: 16px 0 14px 18px;
    box-sizing: border-box;
  }

  &__subtitle {
  	font-size: @font-size-h3-320;
  	font-weight: @font-weight-medium;
    letter-spacing: @letter-spacing-accent;
    text-transform: @text-uppercase;
  	color: @color-orange;
    margin-bottom: 5px;
  }

  &__text {
  	font-size: @font-size;
  	line-height: @line-height-add;
  	color: @text-color;
  }

  &__tab {
  	width: 15px;
  	height: 15px;
  	background-color: transparent;
  	border: 2px solid @color-orange;
  	border-radius: 50%;
    align-self: stretch;
  }

  &__tab--active {
  	background-color: @color-orange;	
  }
}