.offers {
  padding-top: 43px;
  padding-bottom: 67px;

  @media (min-width: 768px) {
    padding-top: 35px;
    padding-bottom: 38px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 90px;
  }

  &__inner {
    .row();
  }

  &__title {
    color: @color-black;
    text-align: center;
    width: 228px;
    .font-h2-320();

    @media (min-width: 768px) {
      flex-basis: 100%;
      .font-h2();
    }

    &--part {
      display: block;
    }
  }

  &__slider {
    background-image: url('../img/offers-bgr.jpg');
    background-repeat: no-repeat;
    background-position: -60px center;
    background-size: cover;
    padding-top: 157px;
    padding-bottom: 23px;
    margin-top: 33px;
    margin-bottom: 20px;
    border: 1px solid @color-shade-gray-3;
    flex-basis: 100%;

    @media (min-width: 360px) {
      background-position: 0 center;
    }

    @media (min-width: 768px) {
      background-position: 0 -100px;
    }

    @media (min-width: 1200px) {
      background-position: 0 -190px;
      padding-top: 200px;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }
  }

  &__item {
		background-color: rgba(255, 255, 255, 0.95);
		width: 296px;
    padding: 16px 0 14px 18px;
    box-sizing: border-box;

    @media (min-width: 1200px) {
      width: 350px;
    }
  }

  &__subtitle {
  	font-size: @font-size-h3-320;
  	font-weight: @font-weight-medium;
    letter-spacing: @letter-spacing-accent;
    text-transform: @text-uppercase;
  	color: @color-orange;
    margin-bottom: 5px;
  }

  &__text {
  	font-size: @font-size;
  	line-height: @line-height-add;
  	color: @text-color;
  }

  &__tab {
  	width: 15px;
  	height: 15px;
    margin-left: 10px;
    margin-right: 10px;
  	background-color: transparent;
  	border: 2px solid @color-orange;
  	border-radius: 50%;
    align-self: stretch;
  }

  &__tab--active {
  	background-color: @color-orange;	
  }
}