.page-header {
  padding: 16px 10px 25px 10px;
  border-left: 1px solid @color-shade-gray-3;
  border-right: 1px solid @color-shade-gray-3;
  border-bottom: 1px solid @color-shade-gray-3;

  &__inner {
    position: relative;
    .column();

    @media (min-width: 1200px) {
      .row();
      justify-content: space-between;
    }
  }

  &__burger {
    position: absolute;
    top: 16px;
    right: 10px;
	  height: 24px;
	  width: 29px;
	  background-image: url('../img/btn-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px 24px;

    @media (min-width: 1200px) {
      display: none;
    }
}

  &__contacts {
		display: none;

    @media (min-width: 1200px) {
      .row();
      justify-content: space-between;
      align-items: center;
      width: 496px;
    }
	}

  &__address {
    font-size: @font-size-small;
    letter-spacing: @letter-spacing-small;
  }

  &__phone {
    display: block;
    color: @text-color;
    font-size: @font-size-accent;
    letter-spacing: @letter-spacing-small;
    font-weight: @font-weight-medium;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 5px;
  }
}