.page-header {
  padding-top: 16px;
  padding-bottom: 25px;
  border-left: 1px solid @color-shade-gray-3;
  border-right: 1px solid @color-shade-gray-3;
  border-bottom: 1px solid @color-shade-gray-3;

  &__inner {
    .column();
  }

  &__burger {
    position: absolute;
    top: 33px;
    right: 20px;
	  height: 24px;
	  width: 29px;
	  background-image: url('../img/btn-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px 24px;
}

  &__contacts {
		display: none;
	}
}