.promo {

  &__inner {
  	.row();
  }

  &__slider {
    background-image: url('../img/promo-bgr.jpg');
	  background-repeat: no-repeat;
	  background-position: 0 center;
	  background-size: auto 100%;
	  padding-top: 20px;
	  padding-bottom: 160px;
	  margin-bottom: 18px;
		.col-xs-12();
	}

  &__item {
  	background-color: @color-bgr-opacity;
		padding-top: 3px;
		padding-bottom: 3px;
		.column();
  }

	&__title {
		max-width: 320px;
		margin-bottom: 10px;
		.font-h1-320();
	}

	&__text {
		max-width: 320px;
		.font-accent-320();
	}
	
	&__tab {
		font-size: @font-size-small;
		letter-spacing: @letter-spacing-small;
		text-transform: @text-uppercase;
		position: relative;
		color: @color-gray-tab;
		text-decoration: none;
		text-align: center;
		.col-xs-6();
	}

	&__tab--active {
		color: @color-orange;
	}

	&__tab--active:after {
		position: absolute;
		content: '';
		background-color: @color-orange;
		width: 30px;
		height: 2px;
		bottom: -8px;
		left: 50%;
		margin: 0 0 0 -15px;
	}
}