.promo {
  padding-bottom: 55px;

  &__inner {
  	.row();
  }

  &__slider {
    background-image: url('../img/promo-bgr.jpg');
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: auto 100%;
	  padding-top: 20px;
	  padding-bottom: 144px;
		.col-xs-12();
	}

  &__item {
  	background-color: @color-bgr-opacity;
		padding-top: 3px;
		padding-bottom: 3px;
		.column();
  }

	&__title {
		max-width: 320px;
		color: @color-black;
		font-family: @font-family-title;
		font-size: @font-size-h1-320;
		line-height: @line-height-h1-320;
		font-weight: @font-weight;
		letter-spacing: @letter-spacing-h1;
		text-align: center;
	}

	&__text {
		max-width: 320px;
		font-size: @font-size;
		line-height: @line-height-accent;
		color: @color-gray-accent;
		letter-spacing: @letter-spacing-accent;
		text-align: center;
	}
	
	&__tab {
		font-size: @font-size-small;
		letter-spacing: @letter-spacing-small;
		text-transform: @text-uppercase;
		position: relative;
		color: @color-gray-tab;
		text-decoration: none;
		text-align: center;
		.col-xs-6();
	}

	&__tab--active {
		color: @color-orange;
	}

	&__tab--active:after {
		position: absolute;
		content: '';
		background-color: @color-orange;
		width: 30px;
		height: 2px;
		bottom: -8px;
		left: 50%;
		margin: 0 0 0 -15px;
	}
}