.rest {
	background-image: url('../img/rest-bgr.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  padding-top: 60px;
  padding-bottom: 95px;

  &__inner {
    .column();
  }

  &__title {
  	max-width: 155px;
    color: @color-black;
    .font-h2-320();
  }

  &__text {
  	max-width: 253px;
    margin-top: 31px;
    .font-text-320();
  }

  &__text--add {
  	display: none;
  }

  &__option {
  	display: none;
  }
}