.reviews {
	background-image: url('../img/reviews-bgr.jpg');
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: auto 100%;
  padding-top: 62px;
  padding-bottom: 48px;

  @media (min-width: 1200px) {
    padding-top: 40px;
    padding-bottom: 44px;
  }

  &__inner {
    .column();
  }

  &__title {
  	color: @color-white;
  	text-align: center;
    .font-h2-320();

    @media (min-width: 768px) {
      .font-h2();
    }
  }

  &__slider {

    @media (min-width: 1200px) {
      width: 980px;
      .row();
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    width: 320px;
    position: relative;
    background-color: @color-white;
    border: 1px solid @color-border-opacity;
    padding: 68px 45px 24px 45px;
    margin-top: 52px;
    margin-bottom: 39px;
    box-sizing: border-box;
    .column();

    &--author {
      position: absolute;
      border: 2px solid @color-white;
      background-image: url('../img/review-author-320-1.jpg');
      width: 78px;
      height: 78px;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 768px) {
      margin-top: 44px;
      margin-bottom: 48px;
    }

    &:last-child {
      display: none;

      @media (min-width: 768px) {
        display: flex;
      }
    }

    @media (min-width: 768px) {
      width: 480px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  &__name {
    position: relative;
    margin-bottom: 8px;
  	font-size: @font-size-small;
  	font-weight: @font-weight-medium;
    letter-spacing: @letter-spacing-small;
  	color: @text-color;
    text-align: center;
  }

  &__soc {
		height: 17px;
		width: 22px;
	  background-repeat: no-repeat;
	  background-position: center;
    background-size: auto;

    &--vk {
      background-image: url('../img/vk.png');
    }

    &--fb {
      background-image: url('../img/fb-review.png');
    }
  }

  &__text {
    margin-top: 6px;
    margin-bottom: 15px;
    .font-text-320();
  }

  &__date {
  	display: block;
  	font-size: @font-size-small;
  	line-height: @line-height-small;
    letter-spacing: @letter-spacing-small;
		color: @text-color;
		max-width: 160px;
		text-align: center;
  }
}