.rooms-categories {
	padding-top: 40px;
	justify-content: space-between;
	.column();

	&__inner {
		.container();
	}

	&__title {
		.font-h2();
		color: @color-black;
		margin-bottom: 30px;
	}

	&__category {
		width: 320px;
		background-color: @color-shade-gray-4;
		border: 1px solid @color-shade-gray-3;
		padding-top: 32px;
		padding-bottom: 35px;
		margin-bottom: 50px;
		.column();

		@media (min-width: 768px) {
			.row();
			width: 728px;
		}

		@media (min-width: 1200px) {
			width: 1180px;
			justify-content: space-between;
		}
	}

	&__subtitle {
		.font-h3-320();
		text-align: center;
		flex-basis: 100%;
	}

	&__cost {
		.font-price-text();
		flex-basis: 100%;
	}

	&__price {
		.font-price-colored();
	}

	&__wrapper {
		width: 320px;
		height: 225px;
		margin-top: 26px;
		overflow: hidden;

		@media (min-width: 768px) {
			width: 580px;
			height: 305px;
		}
	}

	&__img {
		height: 100%;
	}

	&__text {
		width: 276px;
		min-height: 180px;
		padding-top: 35px;
		padding-bottom: 35px;
		.font-text-320-2();

		@media (min-width: 768px) {
			width: 404px;
			min-height: 65px;
			flex-basis: 100%;
			padding-left: 172px;
			padding-right: 150px;
		}
	}

	.btn--black {
		margin-top: 12px;

		@media (min-width: 768px) {
			margin-top: 0;
			padding-top: 0;
		}
	}

	.btn {
		@media (min-width: 768px) {
			margin-left: 10px;
			margin-right: 58px;
		}
	}
}