.single-room {
	padding-top: 42px;
	padding-bottom: 18px;

	@media (min-width: 768px) {
		padding-bottom: 50px;
	}

	@media (min-width: 1200px) {
		padding-top: 40px;
		padding-bottom: 0;
	}

	&__inner {
		.column();
		.container();

		.btn {
			margin-top: 42px;
			margin-bottom: 10px;

			@media (min-width: 768px) {
				margin-top: 32px;
			}

			@media (min-width: 1200px) {
				margin-top: 60px;
			}
		}
	}

	&__title {
		color: @color-black;
		.font-h2();
	}

	&__cost {
		.font-price-text();
		margin-top: 5px;
		margin-bottom: 26px;

		@media (min-width: 768px) {
			margin-bottom: 45px;
		}
	}

	&__price {
		.font-price-colored();
	}

	&__item {
		position: relative;
		.column();
		width: 320px;

		@media (min-width: 768px) {
			width: 768px;
		}

		@media (min-width: 1200px) {
			.row();
			width: 100%;
		}
	}

	&__btn {
		display: none;

		@media (min-width: 768px) {
			display: block;
			position: absolute;
			content: '';
			top: 20px;
			right: 20px;
			width: 22px;
			height: 22px;
			background-image: url('../img/modal.png');
			background-repeat: no-repeat;
			background-position: center;	
			z-index: 10;
		}

		@media (min-width: 1200px) {
			top: 52px;
		}
	}

	&__slider {
		position: relative;
		width: 100%;
		height: 226px;
		overflow: hidden;

		@media (min-width: 768px) {
			height: 525px;
		}

		@media (min-width: 1200px) {
			width: 50%;
			height: 396px;
			order: 2;
		}

		.owl-nav {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
		}

		.owl-prev:after {
			position: absolute;
			content: '';
			width: 30px;
			height: 30px;
			top: -15px;
			left: 30px;
			border-right: 2px solid @color-white;
			border-top: 2px solid @color-white;
			transform: rotate(-135deg);
		}

		.owl-next:after {
			position: absolute;
			content: '';
			width: 30px;
			height: 30px;
			top: -15px;
			right: 30px;
			border-right: 2px solid @color-white;
			border-top: 2px solid @color-white;
			transform: rotate(45deg);
		}
	}

	&__img {
		height: 100%;
	}

	&__modal {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 99999;
		background-color: @color-bgr-opacity;
		cursor: pointer;
	}

	&__modal-img {
		display: block;
		margin: 5% auto 0 auto;
		height: auto;
		width: auto;
		max-width: 1200px;
	}

	&__description {
		width: 280px;
		padding-top: 38px;

		@media (min-width: 768px) {
			width: 100%;
			padding-top: 5px;
			padding-left: 20px;
		}

		@media (min-width: 1200px) {
			width: 50%;
			padding-left: 10px;
			padding-top: 0;
		}
	}

	&__subtitle {
		margin-top: 36px;
		margin-bottom: 20px;
		.font-h3-320();

		@media (min-width: 1200px) {
			margin-top: -10px;
		}
	}

	&__text {
		.font-text-320-2();

		@media (min-width: 768px) {
			max-width: 540px;
		}

		@media (min-width: 1200px) {
			margin-bottom: 55px;
		}
	}

	&__list {

		&--columns {
			@media (min-width: 768px) {
				max-height: 110px;
				list-style-position: inside;
				column-count: 2;
			}
		}

		@media (min-width: 1200px) {
			margin-bottom: 36px;
		}
	}

	&__list-item {
		list-style-type: none;
		position: relative;
		padding-left: 10px;
		.font-text-320-2();

		&:before {
			position: absolute;
			content: '';
			width: 5px;
			height: 5px;
			border-right: 2px solid @color-orange;
			border-top: 2px solid @color-orange;
			transform: rotate(45deg);
			top: 7px;
			bottom: 0;
			left: -2px;
		}
	}
}