* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: @font-family;
  color: @text-color;
}

.font-h1-320 {
  color: @color-black;
  font-family: @font-family-title;
  font-size: @font-size-h1-320;
  line-height: @line-height-h1-320;
  font-weight: @font-weight;
  letter-spacing: @letter-spacing-h1;
  text-align: center;
}

.font-h2-320 {
  font-size: @font-size-h2-320;
  font-family: @font-family-title;
  font-weight: @font-weight;
  line-height: @line-height-h2-320;
  letter-spacing: @letter-spacing-h2;
  text-align: center;
}

.font-accent-320 {
  font-size: @font-size;
  line-height: @line-height-accent;
  color: @color-gray-accent;
  letter-spacing: @letter-spacing-accent;
  text-align: center;
}

.font-text-320 {
  font-size: @font-size;
  line-height: @line-height;
  color: @color-black;
  text-align: center;
}