* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: @font-family;
  color: @text-color;
}

.font {
	font-size: @font-size-h2-320;
  	font-family: @font-family-title;
  	font-weight: @font-weight;
    letter-spacing: @letter-spacing-h2;
  	color: @color-white;
}