* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  max-width: 1200px;
  font-family: 'Fira Sans', sans-serif;
  color: #191919;
}
.font-h1-320 {
  color: #000000;
  font-family: 'PT Serif Caption', serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: center;
}
.font-h1 {
  color: #1c1c1c;
  font-family: 'PT Serif Caption', serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: left;
}
.font-h2-320 {
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
}
.font-h2 {
  font-size: 30px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.05em;
  text-align: center;
}
.font-h3-320 {
  font-size: 26px;
  letter-spacing: 0.015em;
  font-family: 'PT Serif', serif;
  font-weight: normal;
}
.font-accent-320 {
  font-size: 16px;
  line-height: 24px;
  color: #1c1c1c;
  letter-spacing: 0.015em;
  text-align: center;
}
.font-accent {
  font-size: 18px;
  line-height: 24px;
  color: #1c1c1c;
  letter-spacing: 0.015em;
}
.font-small {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
}
.font-text-320 {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-align: center;
}
.font-text-320-2 {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.font-price-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-align: center;
}
.font-price-colored {
  font-size: 18px;
  font-weight: 500;
  color: #ff7435;
}
.booking-text-step {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  color: #929292;
}
.booking-text-option {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 40px;
  text-align: center;
  color: #4c4c4c;
}
.booking-text {
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #4c4c4c;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}
.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}
.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}
.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}
.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}
.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}
.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}
.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.333%;
}
.col-xs-offset-2 {
  margin-left: 16.667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.333%;
}
.col-xs-offset-5 {
  margin-left: 41.667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.333%;
}
.col-xs-offset-8 {
  margin-left: 66.667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.333%;
}
.col-xs-offset-11 {
  margin-left: 91.667%;
}
.col-md-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}
.col-md-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}
.col-md-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-md-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}
.col-md-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}
.col-md-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-md-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}
.col-md-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}
.col-md-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-md-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}
.col-md-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.col-md-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.col-md-offset-1 {
  margin-left: 8.333%;
}
.col-md-offset-2 {
  margin-left: 16.667%;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.col-md-offset-4 {
  margin-left: 33.333%;
}
.col-md-offset-5 {
  margin-left: 41.667%;
}
.col-md-offset-6 {
  margin-left: 50%;
}
.col-md-offset-7 {
  margin-left: 58.333%;
}
.col-md-offset-8 {
  margin-left: 66.667%;
}
.col-md-offset-9 {
  margin-left: 75%;
}
.col-md-offset-10 {
  margin-left: 83.333%;
}
.col-md-offset-11 {
  margin-left: 91.667%;
}
.col-lg-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}
.col-lg-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}
.col-lg-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-lg-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}
.col-lg-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}
.col-lg-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-lg-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}
.col-lg-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}
.col-lg-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-lg-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}
.col-lg-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.col-lg-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.col-lg-offset-1 {
  margin-left: 8.333%;
}
.col-lg-offset-2 {
  margin-left: 16.667%;
}
.col-lg-offset-3 {
  margin-left: 25%;
}
.col-lg-offset-4 {
  margin-left: 33.333%;
}
.col-lg-offset-5 {
  margin-left: 41.667%;
}
.col-lg-offset-6 {
  margin-left: 50%;
}
.col-lg-offset-7 {
  margin-left: 58.333%;
}
.col-lg-offset-8 {
  margin-left: 66.667%;
}
.col-lg-offset-9 {
  margin-left: 75%;
}
.col-lg-offset-10 {
  margin-left: 83.333%;
}
.col-lg-offset-11 {
  margin-left: 91.667%;
}
.btn {
  box-sizing: border-box;
}
.btn--orange-1 {
  display: block;
  width: 181px;
  height: 37px;
  color: #ffffff;
  background-color: #ff7435;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 18.5px;
  text-decoration: none;
  text-align: center;
  padding: 9px;
}
.btn--orange-2 {
  display: inline-block;
  width: 181px;
  height: 37px;
  color: #ffffff;
  background-color: #ff7435;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 18.5px;
  text-decoration: none;
  text-align: center;
  padding: 9px 9px 9px 30px;
  background-image: url('../img/btn-calendar.png');
  background-repeat: no-repeat;
  background-size: 15px 16px;
  background-position: 20px 8px;
}
.btn--green-2 {
  display: block;
  margin: 0 auto;
  width: 146px;
  height: 37px;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 18.5px;
  text-decoration: none;
  text-align: center;
  padding: 9px;
}
.btn--black {
  width: 84px;
  color: #191919;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px dashed;
  text-decoration: none;
  text-align: center;
  padding-top: 9px;
}
.page-header {
  padding: 16px 10px 25px 10px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.page-header__inner {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-header__burger {
  position: absolute;
  top: 16px;
  right: 10px;
  height: 24px;
  width: 29px;
  background-image: url('../img/btn-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 29px 24px;
}
.page-header__contacts {
  display: none;
}
.page-header__address {
  font-size: 14px;
  letter-spacing: 0.05em;
}
.page-header__phone {
  display: block;
  color: #191919;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-decoration: none;
  margin-top: 8px;
  margin-bottom: 5px;
}
.logo {
  height: 49px;
}
.main-nav {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
}
.main-nav__list {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-nav__item {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}
.main-nav__link {
  display: block;
  color: #191919;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.main-nav__link--active {
  color: #ff7435;
}
.promo__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.promo__slider {
  background-image: url('../img/promo-bgr.jpg');
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 160px;
  margin-bottom: 18px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.promo__item {
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 3px;
  padding-bottom: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.promo__item--active {
  display: -ms-flexbox;
  display: flex;
}
.promo__item--inactive {
  display: none;
}
.promo__item--bgr {
  background-color: transparent;
}
.promo__title {
  max-width: 320px;
  margin-bottom: 10px;
  color: #000000;
  font-family: 'PT Serif Caption', serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: center;
}
.promo__text {
  width: 320px;
  font-size: 16px;
  line-height: 24px;
  color: #1c1c1c;
  letter-spacing: 0.015em;
  text-align: center;
}
.promo__tab {
  width: 138px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  color: #838383;
  text-decoration: none;
  text-align: center;
}
.promo__tab--active {
  color: #ff7435;
}
.promo__tab--active:after {
  position: absolute;
  content: '';
  background-color: #ff7435;
  width: 30px;
  height: 2px;
  bottom: -8px;
  left: 50%;
  margin: 0 0 0 -15px;
}
.rest {
  background-image: url('../img/rest-bgr.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 60px;
  padding-bottom: 58px;
}
.rest__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rest__title {
  max-width: 155px;
  color: #000000;
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
}
.rest__text {
  max-width: 253px;
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-align: center;
}
.rest__text--add {
  display: none;
}
.rest__list {
  display: none;
  width: 570px;
  list-style-type: none;
}
.rest__option {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.rest__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.gallery {
  padding-bottom: 48px;
}
.gallery__slider {
  width: 100%;
}
.gallery__wrap {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1180px;
  min-height: 260px;
  overflow: hidden;
}
.gallery__img {
  position: absolute;
  top: 0;
  left: -25px;
  height: 100%;
}
.reviews {
  background-image: url('../img/reviews-bgr.jpg');
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
  padding-top: 62px;
  padding-bottom: 48px;
}
.reviews__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews__title {
  color: #ffffff;
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
}
.reviews__item {
  width: 320px;
  position: relative;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 68px 45px 24px 45px;
  margin-top: 52px;
  margin-bottom: 39px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.reviews__item--author {
  position: absolute;
  border: 2px solid #ffffff;
  background-image: url('../img/review-author-320-1.jpg');
  width: 78px;
  height: 78px;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews__item:last-child {
  display: none;
}
.reviews__name {
  position: relative;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #191919;
  text-align: center;
}
.reviews__soc {
  height: 17px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.reviews__soc--vk {
  background-image: url('../img/vk.png');
}
.reviews__soc--fb {
  background-image: url('../img/fb-review.png');
}
.reviews__text {
  margin-top: 6px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-align: center;
}
.reviews__date {
  display: block;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #191919;
  max-width: 160px;
  text-align: center;
}
.offers {
  padding-top: 43px;
  padding-bottom: 67px;
}
.offers__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.offers__title {
  color: #000000;
  width: 228px;
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
}
.offers__title--part {
  display: block;
}
.offers__slider {
  background-image: url('../img/offers-bgr.jpg');
  background-repeat: no-repeat;
  background-position: -60px center;
  background-size: cover;
  padding-top: 157px;
  padding-bottom: 23px;
  margin-top: 33px;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.offers__item {
  background-color: rgba(255, 255, 255, 0.95);
  width: 296px;
  padding: 16px 0 14px 18px;
  box-sizing: border-box;
}
.offers__subtitle {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #ff7435;
  margin-bottom: 5px;
}
.offers__text {
  font-size: 16px;
  line-height: 20px;
  color: #191919;
}
.offers__tab {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: 2px solid #ff7435;
  border-radius: 50%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.offers__tab--active {
  background-color: #ff7435;
}
.location {
  padding-bottom: 55px;
}
.location__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.location__title {
  width: 158px;
  color: #191919;
  margin-bottom: 30px;
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
}
.location__map {
  height: 400px;
  width: 100%;
  margin-bottom: 35px;
}
.location__item {
  width: 227px;
  text-align: center;
  padding-top: 51px;
}
.location__item--bus {
  background-image: url('../img/bus.png');
  background-repeat: no-repeat;
  background-position: center 8px;
  background-size: 50px 29px;
}
.location__item--train {
  background-image: url('../img/train.png');
  background-repeat: no-repeat;
  background-position: center 12px;
  background-size: 58px 26px;
}
.location__subtitle {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.location__list {
  list-style-type: none;
}
.location__text {
  line-height: 22px;
}
.location__text--bold {
  font-weight: 500;
}
.location__text--line {
  display: block;
}
.hotels {
  background-image: url('../img/hotels-bgr.jpg');
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
  padding-top: 43px;
  padding-bottom: 50px;
}
.hotels__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hotels__title {
  width: 208px;
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
}
.hotels__item {
  width: 280px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 45px;
  margin: 19px 8px 0 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.hotels__img {
  display: block;
  max-width: 100%;
  height: 199px;
}
.hotels__subtitle {
  font-size: 26px;
  letter-spacing: 0.015em;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 3px;
}
.hotels__text {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-align: center;
}
.hotels__price {
  font-size: 18px;
  font-weight: 500;
  color: #ff7435;
}
.page-footer {
  padding-top: 26px;
  padding-bottom: 24px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.page-footer__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page-footer__contacts {
  display: none;
  margin-top: 28px;
  width: 145px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
}
.page-footer__phone,
.page-footer__email {
  display: block;
  text-decoration: none;
  color: #191919;
}
.page-footer__soc {
  height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 12px;
}
.page-footer__link {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 100%;
  width: 45px;
  margin-left: 6px;
  margin-right: 6px;
}
.page-footer__link--vk {
  background-image: url('../img/vk-footer.png');
  background-position: center;
}
.page-footer__link--ins {
  background-image: url('../img/ins.png');
  background-position: center;
}
.page-footer__link--fb {
  background-image: url('../img/fb.png');
  background-position: 18px center;
}
.rooms-promo {
  background-image: url('../img/roomlist-bgr.jpg');
  background-repeat: no-repeat;
  background-position: -550px center;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 60px;
}
.rooms-promo__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rooms-promo__title {
  font-family: 'PT Serif Caption', serif;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 0.05em;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  width: 265px;
}
.rooms-promo__text {
  display: none;
}
.rooms-categories {
  padding-top: 40px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rooms-categories__title {
  font-size: 30px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}
.rooms-categories__category {
  width: 320px;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  padding-top: 32px;
  padding-bottom: 35px;
  margin-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rooms-categories__subtitle {
  font-size: 26px;
  letter-spacing: 0.015em;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.rooms-categories__cost {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.rooms-categories__price {
  font-size: 18px;
  font-weight: 500;
  color: #ff7435;
}
.rooms-categories__wrapper {
  width: 320px;
  height: 225px;
  margin-top: 26px;
  overflow: hidden;
}
.rooms-categories__img {
  height: 100%;
}
.rooms-categories__text {
  width: 276px;
  min-height: 180px;
  padding-top: 35px;
  padding-bottom: 35px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.rooms-categories .btn--black {
  margin-top: 12px;
}
.single-room {
  padding-top: 42px;
  padding-bottom: 18px;
}
.single-room__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.single-room__inner .btn {
  margin-top: 42px;
  margin-bottom: 10px;
}
.single-room__title {
  color: #000000;
  font-size: 30px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.05em;
  text-align: center;
}
.single-room__cost {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 26px;
}
.single-room__price {
  font-size: 18px;
  font-weight: 500;
  color: #ff7435;
}
.single-room__item {
  width: 280px;
}
.single-room__slider {
  width: 100%;
  height: 226px;
  overflow: hidden;
}
.single-room__img {
  height: 100%;
}
.single-room__description {
  padding-top: 38px;
}
.single-room__subtitle {
  margin-top: 36px;
  margin-bottom: 20px;
  font-size: 26px;
  letter-spacing: 0.015em;
  font-family: 'PT Serif', serif;
  font-weight: normal;
}
.single-room__text {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.single-room__list-item {
  list-style-type: none;
  position: relative;
  padding-left: 10px;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}
.single-room__list-item:before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  border-right: 2px solid #ff7435;
  border-top: 2px solid #ff7435;
  transform: rotate(45deg);
  top: 7px;
  bottom: 0;
  left: -2px;
}
.more-rooms {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 50px;
}
.more-rooms__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.more-rooms__item {
  width: 280px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 45px;
  margin: 19px 8px 0 8px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.more-rooms__item:nth-child(2) {
  display: none;
}
.more-rooms__img {
  display: block;
  max-width: 100%;
  height: 199px;
}
.more-rooms__subtitle {
  font-size: 26px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  letter-spacing: 0.015em;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 3px;
}
.more-rooms__cost {
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  text-align: center;
}
.more-rooms__price {
  font-size: 18px;
  font-weight: 500;
  color: #ff7435;
}
.more-rooms__tab {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  border: 2px solid #ff7435;
  border-radius: 50%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.more-rooms__tab--active {
  background-color: #ff7435;
}
.booking__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.booking__howto {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 65px;
  padding-bottom: 45px;
}
.booking__title {
  font-size: 30px;
  font-family: 'PT Serif Caption', serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 20px;
}
.booking__text {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  line-height: 20px;
  text-align: center;
  width: 225px;
}
.booking__tel {
  color: #ff7435;
  text-decoration: none;
  font-weight: 500;
}
.step {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.step:nth-child(even) {
  background-color: #f1f1f1;
}
.step:last-child {
  padding-bottom: 80px;
}
.step--short {
  padding-bottom: 40px;
}
.step__number {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  color: #929292;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.step__subtitle {
  font-size: 26px;
  letter-spacing: 0.015em;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  width: 250px;
  text-align: center;
}
.step__date {
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
}
.step__option {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 40px;
  text-align: center;
  color: #4c4c4c;
}
.step__text {
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #4c4c4c;
}
.step__text--price {
  width: 220px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-indent: 18px;
  background-image: url('../img/booking-attention.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 2px;
}
.step__form {
  font-size: 0;
}
.step__form--select {
  outline: none;
  padding: 15px;
  border: 1px solid #ebebeb;
}
.step__place {
  width: 280px;
  border: 1px solid #ebebeb;
  padding: 15px 0px 26px 0px;
  margin-top: 26px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.step__place-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 75%;
  padding-bottom: 76px;
}
.step__place-item--hotel {
  background-image: url('../img/booking-hotel.png');
  border-right: 1px solid #ebebeb;
}
.step__place-item--cottage {
  background-image: url('../img/booking-cottage.png');
}
.step__cottage {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin-top: 24px;
  padding: 24px 10px 24px 10px;
  width: 100%;
  list-style-type: none;
  font-size: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.step__cottage-item {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 320px;
  color: #979696;
}
.step__cottage-item--active {
  background-image: url('../img/booking-check.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 85px center;
  font-weight: 500;
  color: #191919;
}
.step__about {
  display: none;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin-top: 20px;
  padding: 24px 40px 24px 32px;
  list-style-type: none;
  font-size: 0;
}
.step__about-item {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 18px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
}
.step__about-item--square {
  background-image: url('../img/booking-ruler.png');
}
.step__about-item--rooms {
  background-image: url('../img/booking-elevator.png');
}
.step__about-item--beds {
  background-image: url('../img/booking-bed.png');
}
.step__about-item--bath {
  background-image: url('../img/booking-bath.png');
  background-position: center 15px;
}
.step__about-item--internet {
  background-image: url('../img/booking-wifi.png');
}
.step__personal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 8px;
}
.step__personal-item {
  width: 280px;
  padding: 16px;
  text-align: center;
  margin-top: 20px;
  outline: none;
  border: 1px solid #ebebeb;
}
.step__personal-item:nth-child(4),
.step__personal-item:nth-child(6) {
  margin-top: 10px;
  margin-bottom: 6px;
  border: none;
  padding: 0;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #4c4c4c;
}
.step__payment {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}
.step__total {
  width: 320px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 10px 40px 25px 40px;
  margin-top: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.step__total-price {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
.step__required-action {
  text-decoration: none;
  color: #4c4c4c;
  border-bottom: 1px dashed;
}
.step__later {
  width: 320px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
  padding: 10px 40px 8px 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.step__later .step__text {
  display: none;
  width: 225px;
  padding-top: 12px;
}
.step__pay-check {
  padding-left: 36px;
  width: 130px;
  text-align: left;
  font-weight: 500;
  background-image: url('../img/booking-check-inactive.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 center;
}
.step__now {
  width: 320px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  padding: 10px 40px 20px 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.step__now .step__text {
  display: none;
  width: 275px;
  padding-top: 10px;
}
.step__card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
}
.step__card-item {
  padding-bottom: 4px;
}
.step__card-input {
  display: block;
  width: 240px;
  padding: 12px 12px ;
  outline: none;
  border: 1px solid #ebebeb;
  text-align: center;
}
.step__card-input--short {
  width: 135px;
}
.step__book-button {
  -ms-flex-order: 4;
      order: 4;
  width: 280px;
  padding: 5px;
  margin-top: 50px;
  background-color: #0ab89d;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 40px;
  text-align: center;
  color: #4c4c4c;
  color: #ffffff;
  font-weight: 500;
}
@media (min-width: 360px) {
  .offers__slider {
    background-position: 0 center;
  }
}
@media (min-width: 768px) {
  .promo__slider {
    padding-bottom: 136px;
  }
  .promo__item--bgr {
    background-color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  .promo__item {
    background-color: transparent;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 25px;
  }
  .promo__title {
    max-width: 590px;
    margin-bottom: 26px;
    color: #1c1c1c;
    font-family: 'PT Serif Caption', serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-align: left;
  }
  .promo__text {
    width: 525px;
    font-size: 18px;
    line-height: 24px;
    color: #1c1c1c;
    letter-spacing: 0.015em;
    text-align: left;
  }
  .promo__tab {
    margin-left: 10px;
    margin-right: 10px;
  }
  .rest {
    padding-top: 58px;
    padding-bottom: 18px;
  }
  .rest__title {
    max-width: 290px;
    font-size: 30px;
    font-family: 'PT Serif Caption', serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .rest__text {
    max-width: 570px;
    margin-top: 25px;
  }
  .rest__text--add {
    display: block;
  }
  .rest__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .gallery {
    padding-bottom: 50px;
  }
  .gallery__slider {
    height: 400px;
  }
  .gallery__wrap {
    width: 100%;
    height: 325px;
  }
  .gallery__img {
    top: 0;
    left: 0;
  }
  .reviews__title {
    font-size: 30px;
    font-family: 'PT Serif Caption', serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .reviews__item {
    margin-top: 44px;
    margin-bottom: 48px;
  }
  .reviews__item:last-child {
    display: -ms-flexbox;
    display: flex;
  }
  .reviews__item {
    width: 480px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .offers {
    padding-top: 35px;
    padding-bottom: 38px;
  }
  .offers__title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 30px;
    font-family: 'PT Serif Caption', serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .offers__slider {
    background-position: 0 -100px;
  }
  .location__title {
    width: 368px;
    font-size: 30px;
    font-family: 'PT Serif Caption', serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .location__item {
    width: 580px;
  }
  .location__item:last-child {
    width: 335px;
  }
  .hotels {
    padding-bottom: 54px;
  }
  .hotels__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .hotels__title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'PT Serif Caption', serif;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .hotels__item {
    width: 355px;
  }
  .page-footer {
    padding-top: 20px;
  }
  .page-footer__inner {
    padding-left: 20px;
    padding-right: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .page-footer__contacts {
    display: block;
  }
  .page-footer__soc {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-top: 2px;
  }
  .rooms-promo {
    padding-top: 40px;
    padding-bottom: 40px;
    background-position: center;
  }
  .rooms-promo__title {
    width: 590px;
    color: #1c1c1c;
    font-family: 'PT Serif Caption', serif;
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-align: left;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
  }
  .rooms-promo__text {
    display: block;
    width: 572px;
    font-size: 18px;
    line-height: 24px;
    color: #1c1c1c;
    letter-spacing: 0.015em;
    color: #ffffff;
    text-align: center;
  }
  .rooms-categories__category {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 728px;
  }
  .rooms-categories__wrapper {
    width: 580px;
    height: 305px;
  }
  .rooms-categories__text {
    width: 404px;
    min-height: 65px;
    padding-left: 172px;
    padding-right: 150px;
  }
  .rooms-categories .btn--black {
    margin-top: 0;
    padding-top: 0;
  }
  .rooms-categories .btn {
    margin-left: 10px;
    margin-right: 58px;
  }
  .single-room {
    padding-bottom: 50px;
  }
  .single-room__inner .btn {
    margin-top: 32px;
  }
  .single-room__cost {
    margin-bottom: 45px;
  }
  .single-room__item {
    width: 768px;
  }
  .single-room__slider {
    height: 525px;
  }
  .single-room__description {
    padding-top: 5px;
    padding-left: 20px;
  }
  .single-room__text {
    max-width: 540px;
  }
  .single-room__list--columns {
    max-height: 110px;
    list-style-position: inside;
    column-count: 2;
  }
  .more-rooms {
    padding-bottom: 55px;
  }
  .more-rooms__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .more-rooms__item {
    width: 355px;
  }
  .booking__text {
    width: 390px;
  }
  .step {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .step--short {
    padding-bottom: 50px;
  }
  .step__subtitle {
    width: 100%;
  }
  .step__form {
    margin-left: 10px;
    margin-right: 10px;
  }
  .step__place {
    width: 380px;
  }
  .step__cottage {
    width: 768px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .step__cottage-item--active {
    background-position: center 65px;
  }
  .step__cottage-item {
    display: inline-block;
    width: 25%;
    margin: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    border-right: 1px solid #ebebeb;
  }
  .step__cottage-item:last-child {
    border: none;
  }
  .step__about {
    display: block;
    width: 768px;
  }
  .step__personal {
    width: 768px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0;
  }
  .step__personal-item {
    width: 355px;
  }
  .step__personal-item:nth-child(4) {
    -ms-flex-order: 5;
    order: 5;
  }
  .step__personal-item:nth-child(6) {
    -ms-flex-order: 6;
    order: 6;
  }
  .step__payment {
    width: 468px;
    -ms-flex-order: 2;
    order: 2;
    padding-top: 35px;
  }
  .step__total {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-flex-order: 1;
    order: 1;
    width: 280px;
    margin-right: 20px;
  }
  .step__later {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 12px;
    margin-bottom: 25px;
  }
  .step__later .step__text {
    display: block;
  }
  .step__pay-check {
    padding-left: 30px;
  }
  .step__now {
    width: 100%;
    padding-left: 20px;
  }
  .step__now .step__text {
    display: block;
  }
  .step__card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
  }
  .step__card-item:nth-child(1) {
    -ms-flex-order: 1;
    order: 1;
  }
  .step__card-item:nth-child(2) {
    -ms-flex-order: 3;
    order: 3;
  }
  .step__card-item:nth-child(3) {
    -ms-flex-order: 2;
    order: 2;
    background-image: url('../img/booking-question.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50px 0;
  }
  .step__card-item:nth-child(4) {
    -ms-flex-order: 4;
    order: 4;
  }
  .step__book-button {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-header__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .page-header__burger {
    display: none;
  }
  .page-header__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 496px;
  }
  .main-nav {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 382px;
    margin-top: 5px;
    margin-right: 74px;
  }
  .main-nav__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .main-nav__item {
    padding: 0;
    width: auto;
    border: none;
  }
  .promo__slider {
    padding-top: 85px;
    padding-bottom: 178px;
    margin-bottom: 40px;
  }
  .promo__item {
    padding-left: 5px;
  }
  .rest {
    padding-top: 76px;
    padding-bottom: 60px;
  }
  .rest__list {
    width: 835px;
  }
  .rest__option {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
  }
  .gallery {
    padding-bottom: 40px;
  }
  .gallery__slider {
    height: 615px;
  }
  .reviews {
    padding-top: 40px;
    padding-bottom: 44px;
  }
  .reviews__slider {
    width: 980px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .offers {
    padding-bottom: 90px;
  }
  .offers__slider {
    background-position: 0 -190px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .offers__item {
    width: 350px;
  }
  .location {
    padding-bottom: 65px;
  }
  .location__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .location__title {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .location__item {
    width: 494px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .location__item:last-child {
    width: 494px;
  }
  .location__text {
    text-align: left;
  }
  .hotels__item {
    width: 380px;
  }
  .page-footer__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .single-room {
    padding-top: 40px;
    padding-bottom: 0;
  }
  .single-room__inner .btn {
    margin-top: 60px;
  }
  .single-room__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .single-room__slider {
    width: 50%;
    height: 396px;
    -ms-flex-order: 2;
    order: 2;
  }
  .single-room__description {
    width: 50%;
    padding-left: 10px;
    padding-top: 0;
  }
  .single-room__subtitle {
    margin-top: -10px;
  }
  .single-room__text {
    margin-bottom: 55px;
  }
  .single-room__list {
    margin-bottom: 36px;
  }
  .more-rooms {
    padding-bottom: 50px;
  }
  .more-rooms__item:nth-child(2) {
    display: block;
  }
  .more-rooms__item {
    width: 380px;
  }
}

/*# sourceMappingURL=style.css.map */
